:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.active{
    color: var(--primary) !important;
    border-bottom: 2px solid var(--primary);
    font-weight: bold;
    text-transform: uppercase;
    transition: ease-out 3ms;
}

.active:hover{
    color: var(--secondary) !important;
    border-bottom: 2px solid var(--secondary);
}

.navbar-brand{
    color: var(--primary) !important;
}

.nav-link:hover{
    color: var(--secondary) !important;
    border-bottom: 2px solid var(--secondary);
}